* {
  margin: 0;
  font-family: Arial;
  border: border-box;
}
.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav-logo {
  height: 50px;
  width: 100px;
}
.logo {
  background-size: cover;
  background-image: url(Amazon-Emblem.jpg);
  height: 50px;
  width: 100px;
}
.border:hover {
  border: 2px solid white;
}

.first {
  color: #cccccc;
  margin-left: 20px;
  font-size: 0.85rem;
}
.second {
  font-size: 1rem;
  margin-left: 2px;
}
.add-icon {
  display: flex;
  align-items: center;
}
.nav-search {
  display: flex;
  justify-content: space-evenly;
  background-color: pink;
  width: 620px;
  height: 40px;
  border-radius: 4px;
}
.nav-search:hover {
  border: 2px solid orange;
}
.select-search {
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
}
.search-input {
  width: 100%;
  font-size: 1rem;
  border: none;
}
.search-icon {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: rgb(255, 177, 22);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #0f1111;
}
.my-image {
  width: 24px;
  height: auto;
  margin-right: 5px;
}
.country {
  display: flex;
}
.public {
  font-size: 1rem;
}
.new {
  font-size: 0.8rem;
}
.nav-cart i {
  font-size: 30px;
}
.nav-cart {
  font-size: 0.85rem;
  font-weight: 700;
}
.nav-panel {
  display: flex;
  justify-content: space-evenly;
  height: 40px;
  align-items: center;
  background-color: #222f3d;
  color: white;
}
.nav-in {
  margin-left: 3px;
  font-size: 0.85rem;
}
.hero-section {
  background-image: url(hero.png);
  height: 500px;
  background-size: cover;
}
.body {
  background-image: url(section.jpg);
  height: 250px;
  width: 200px;
}

.box {
  height: 400px;
  width: 23%;
  /* border: 2px solid black; */
  background-color: white;
}
.shoping-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #6a89a7;
  padding: 20px 0px 15px;
}
.image-box {
  background-image: url(baby-1.jpg);
  background-position: center;
  background-size: cover;
  height: 360px;
}
.box-content {
  margin-left: 10px;
  margin-right: 10px;
}

.foot-panel-1 {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #023e8a;
  color: white;
}
.panel-3 {
  height: 500px;
  background-color: #0c3444;
  color: white;
  display: flex;
  justify-content: space-evenly;
}
.coloum-1 {
  margin-top: 60px;
}
.coloum-2 {
  margin-top: 60px;
}
.coloum-3 {
  margin-top: 60px;
}
.syntax {
  margin: 10px;
}
.coloum-3 ul a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 8px;
}
.coloum-1 p {
  padding: 8px;
}
.coloum-2 p {
  padding: 8px;
}
.coloum-3 p {
  padding: 8px;
}
.nav_3 {
  height: 100px;
  width: auto;
  background-color: #0c3444;
  border: 2px solid #051e28;
  display: flex;
  justify-content: space-evenly;
}
.footer_logo {
  background-image: url(Amazon-Symbol.jpg);
  height: 100px;
  width: 200px;
  background-size: cover;
}
.language {
  height: fit-content;
  color: white;
  margin-top: 25px;
  border: 1px solid white;
  padding: 10px;
}
.last {
  height: fit-content;
  border: 1px solid white;
  display: flex;
  background-size: cover;
  background-position: center;
  margin-top: 25px;
  padding: 10px;
}
